<!DOCTYPE html>
<html>
<head>
    <title>AI Recipe Generator</title>
    <link rel="stylesheet" href="/static/css/style.css?v=20260323h">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div id="root"></div>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script type="text/babel" data-presets="react" src="/static/js/app.jsx?v=20260323h"></script>
</body>
</html>